select, input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#data_policy {
	width: auto; !important
}

#submit-container {
    display: flex;
    justify-content: center
}

.submit-status{
    display: none;
}

.input-box{
    display: flex;
    align-items: center;
}

.input-box button{
    margin:0.5em;
}

.text-box {
    margin: 0.5em 0em;
    display: flex;
}

.error-message-container{
    background-color: rgb(255 0 0 / 30%);
    padding: 0.5em;
    border-radius: 5px;
}

.warning-message-container {
    background-color: rgba(240, 213, 12, 0.3);
    padding: 0.5em;
    border-radius: 5px;
}

.notice-container{
    background-color: rgba(0, 255, 0, 30%);
    padding: 0.5em;
    border-radius: 5px;
}

/* Add loader */
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    display: none;
}

.loader-reactive {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    display: block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}