figure.video_chapters {
    font-size: 0;
    position: relative;
    margin: 0;
}

figure.video_chapters video {
    height: auto;
    display: inline-block;
}

figure.video_chapters figcaption {
    margin-top: 0;
    background: #3a6d99;
    font-size: 1rem;
    color: #999;
    height: auto !important;
}

figure.video_chapters figcaption ol {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

figure.video_chapters figcaption ol li a {
    color: #ffffff !important;
    display: block;
    padding: .7rem 1rem;
    border-bottom: 1px dashed #000;
    transition: .3s;
}

figure.video_chapters figcaption ol li.watched a {
    background: #666666;
}

figure.video_chapters figcaption ol li a.current {
    background: #202020;
}

figure.video_chapters figcaption ol li a:not(.current):hover,
figure.video_chapters figcaption ol li a:not(.current):focus {
    background: #202020;
    cursor: pointer;
}

figure.video_chapters figcaption ol li a small {
    clear: both;
    display: block;
    font-size: .75em;
}

figure.video_chapters figcaption ol li a small::before {
    content: '';
    clear: both;
    display: block;
}

figure.video_chapters figcaption::-webkit-scrollbar {
    width: 13px;
    height: 100%;
}

figure.video_chapters figcaption::-webkit-scrollbar-track {
    background-color: #000;
}

figure.video_chapters figcaption::-webkit-scrollbar-thumb:vertical {
    background: hsl(45, 80%, 20%);
    width: 13px;
    height: 20px;
}

@media screen and (max-width: 500px) {
    figure.video_chapters video,
    figure.video_chapters figcaption {
        display: block;
        width: 100%;
    }
    figure.video_chapters video {
        border-bottom: 10px solid #111;
    }
    figure.video_chapters figcaption {
        position: static;
        height: 200px;
    }
}