

/* Complex name */

div.complex_title {
	font-size: 16pt;
	padding-bottom: 0.10em;
	padding-top: 0.5em
}

div.lab_list_title {
	font-size: 14pt;
	padding-top: 0.5em;
	padding-bottom: 0.3em;
}

/* Divider */
hr.solid {
  border-top: 2px solid #bbb;
  margin: 0;
}

#osc_complex {
  padding: 1em;
}

/* Info list */
.info_card{
  display: flex;
  align-items: center;
  margin:1em 0;
}

.info_card .property{
  font-weight: bold;
  width:30%
}

.info_card .data{
  width:70%;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ebe7e7;
  border-radius: 10px;
  margin:0.35em 0;
  min-height:4em;
}

.card .element.main{
  display:inherit;
}

.card .element{
  width: 100%;
  padding:0.25em 0.75em;
}

.card .card-schema {
  display:none;
  font-weight:bold;
}

.table-schema{
  display: flex;
}

.table-schema .element{
  font-weight:bold;
  width:100%;
  padding:0.25em 0.75em;
}

@media (max-width: 800px) {
  .card {
    padding:1.5em;
    flex-wrap: wrap;
  }
  .card .element{
    width: 100%;
    flex: 1 1 50%;
    padding: 0;
  }
  .card .element.main {
    flex-basis: 100%;
    font-size: 18pt;
    padding: 0 0 1em 0;
  }

  .card .card-schema {
    display: block;
  }

  .table-schema {
    display: none;
  }

  hr.table {
    display: none;
  }
}

/* Collapsible box properties */

.collapsible {
  background-color: #3a88c7;
  color: white;
  cursor: pointer;
  padding: 0.5em;
  margin-bottom: 0.25em;
  width: 100%;
  border: none;
  border-radius: 5px;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Hover color of collapsible */
.active, .collapsible:hover {
  background-color: #2f6c9e;
}

/* Laboratory list */
.content  {
  padding: 0.5em;
  overflow: hidden;
  background-color: #f1f1f1;
  font-size:14px
}

/* Search box */

.search-box{
  width: 100%;
  margin-bottom: 0.5em;
}

/* Institute Name */

div.institute_title {
	font-size: 16pt;
	padding-bottom: 0.5em;
	padding-top: 0.5em
}

/* Label before complex list*/

div.title {
	font-size: 18pt;
	padding-top: 0.5em;
	padding-bottom: 0.3em;
  line-height: 1.2em;
}

div.subtitle {
	font-size: 14pt;
	padding-top: 0.5em;
	padding-bottom: 0.3em;
}


/* LSHW and lab_Conf options */

div.lab_conf, div.lshw{
	padding: 0.5em;
	overflow: auto;
	background-color: #f1f1f1;
	font-size:14px;
	max-height:30em !important
}

/* Style the collapsible content. Note: hidden by default */

#osc-pc .collapsible {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

a {
	cursor: pointer
}

/* LSHW page */


div.pc_link {
	font-size: 15pt;
	padding-bottom: 0.5em
}

/* PC page */

/* Complex name */

div.pc_title {
	font-size: 16pt;
	padding-bottom: 0.5em;
}

div.pc_position_title {
	font-size: 14pt;
	padding-top: 0.5em;
	padding-bottom: 0.3em;
}

/* Style the collapsible content. Note: hidden by default */
.lshw {
  padding: 0 18px;
  overflow: hidden;
  background-color: #f1f1f1;
}

@media screen and (min-width: 800px) {
    a.pc_picture {
	float: right;
	}
}
	
a.pc_picture img {
	height: 20em;
}

/* Institute Page */

h2.listascuole{
	font-size:6pt
}

.button_link{
  padding: 0 0.5em;
}

/* Mappa */

#map{
  height:20em;
}

.legend{
	background: rgba(241, 221, 221, 1);
	padding:0.3em;
	border-radius:5px;
	line-height: 2.3em;
}

/* Results page */

#results {
    display:flex;
    flex-direction: row;
    align-items: center;
}

#text-results {
    color: #3a6d99;
    text-align:left;
    width:50%;
}
#map-results {
    text-align:left;
    width: 40%;
    margin-right: 10%;
}

.number-box {
  font-size: 1.5em;
  margin-bottom: 0.25em;
  font-weight: bolder;
}

.text-box {
  font-size: 1.25em;
  margin-bottom: 0.75em;
}

.d3-tip{
    background-color: rgba(146, 146, 146, 0.7);
    color: white;
    opacity: 0.5;
    padding:0.5em;
    border-radius: 10%;
}

@media only screen and (max-width: 600px) {
    #results  {
        flex-direction: column;
    }
    #text-results {
        width:100%;
        order:1;
    }
    #map-results {
        width:100%;
        order: 2;
        margin: 0 5% 0 5%;
    }

    .number-box {
      font-size: 1.5em;
      margin-bottom: 0.25em;
      font-weight: bolder;
    }
    
    .text-box {
      font-size: 1.25em;
      margin-bottom: 0.75em;
    }
    
  }

