<div id="osc_donor">
    <h4>Banca Intermobiliare</h4>
    <div class="donor-info">
        <div><b>Codice donatore: </b>{{donor_info.name}}<br></div>
        <div><b>Totale PC Donati: </b>{{donor_info.pc.length}}<br></div>
        <div><b>PC assegnati: </b>{{donor_info.pc.length - not_assigned}}<br></div>
        <div><b>PC da assegnare: </b>{{not_assigned}}<br></div>
    </div>

    <div class="pc collapsible" v-on:click="toggleConfView(index)" v-for="(item, index) in complex_list" :key="item.id">
        <b>Scuola: </b>{{item.type + " " + item.name}} <b>PC Donati:</b> {{item.pcs.length}}
        <div @click.stop class="content" v-if="complex_display[index]">
            <a v-for="(pc, pc_idx) in item.pcs" :href="'../getPC?pc_id=' + pc.id + '&pc_type=' + pc.type">
                <div class="card">
                <b>Postazione: </b>{{pc.type + pc.id.padStart(3, '0')}}
                </div>
            </a>
        </div>
    </div>
</div>