<div id="map" style="height:20em;"></div>
<div id="osc_institute">
    <div class="institute_title">{{institute_info.type + " " + institute_info.name}}<br></div>
    <hr class="solid">
    </hr>
    <div class="info_card" v-for="(item, key, index) in info_obj">
        <div class="property">{{key}}</div>
        <div class="data" v-if="key ==  'Sito Web'">
            <a :href="item">{{item}}</a>
        </div>
        <div class="data" v-else-if="key ==  'E-Mail'">
            <a :href="'mailto:' + item">{{item}}</a>
        </div>
        <div class="data" v-else-if="key ==  'Note'">
            <p v-html="item"></p>
        </div>
        <div class="data" v-else>
            {{item}}
        </div>
    </div>
    <div class="title">Plessi</div>
    <hr class="solid">
    </hr>   
    <div class="card" v-for="(item, index) in institute_info.complexes">
        <a :href="'../getComplex?complex_id=' + item.id">
            <div class="element main">
                {{item.type_text}} {{item.name}} 
            </div>
        </a>
    </div>
</div>