<div id="osc_lab">
    <div class="title">{{lab_info.name}}</div>
    <b>Codice: </b>{{lab_info.code}}<br>
    <div id="osc_gallery" ref="osc_gallery"></div>
    <div class="lab-info">
        <div class="info_card" v-for="(item, key, index) in info_obj">
            <div class="property">{{key}}</div>
            <div class="data" v-if="key ==  'Plesso'">
                <a :href="'../getComplex?complex_id=' + lab_info.complex.id">{{lab_info.complex.type}}
                    {{lab_info.complex.name}}</a>
            </div>
            <div class="data" v-else-if="key ==  'Note'">
                <p v-html="item"></p>
            </div>
            <div class="data" v-else>
                {{item}}
            </div>
        </div>

        <div class="title">Postazioni</div><input type="text" id="search-box-pc" class="search-box"
            placeholder="Cerca..." v-model="curr_filter_pc">
        <div class="table-schema">
            <div class="element">
                Postazione
            </div>
            <div class="element">
                Utente
            </div>
            <div class="element">
                IP
            </div>
            <div class="element">
                MAC
            </div>
            <div class="element">
                Frutto
            </div>
        </div>
        <hr class="solid table">
        </hr>
        <div v-for="(item, index) in activePCs" class="card">
            <div class="element main">
                <a :href="'../getPC?pc_id=' + item.pcid + '&pc_type=' + item.pctype">
                    {{item.pctype + item.pcid.padStart(3, '0')}}
                </a>
            </div>
            <div class="element">
                <p class="card-schema">Utente</p>
                {{item.user}}
            </div>
            <div class="element">
                <p class="card-schema">IP</p>
                {{item.ip}}
            </div>
            <div class="element">
                <p class="card-schema">MAC</p>
                {{item.mac}}
            </div>
            <div class="element">
                <p class="card-schema">Frutto</p>
                {{item.offspring}}
            </div>
        </div>

        <div v-if="activeSwitches != null">
            <div class="title">Switch</div><input type="text" id="search-box-switches" class="search-box"
                placeholder="Cerca..." v-model="curr_filter_switch">
            <div class="table-schema">
                <div class="element">
                    Switch
                </div>
                <div class="element">
                    Modello
                </div>
            </div>
            <hr class="solid table">
            </hr>
            <div v-for="(item, index) in activeSwitches" class="card" :key=item.name>
                <div class="element main">
                    <a :href="'../getSwitch?switch_name=' + item.name">
                        {{item.name}}
                    </a>
                </div>
                <div class="element">
                    <p class="card-schema">Utente</p>
                    {{item.model}}
                </div>
            </div>
        </div>

        <div v-if="lab_info.lab_files != null" id="conf-files">
            <div class="title">File di configurazione</div>
            <hr class="solid">
            </hr>
            <div v-for="(item, index) in lab_info.lab_files" :key="item.name" id="conf-files-list">
                <b>{{item.name}}</b><a class="button_link" v-on:click="saveTextAsFile(index)">Scarica</a>
                <a v-if="file_display[index]" v-on:click="toggleConfView(index)" class="button_link">Nascondi</a>
                <a v-else v-on:click="toggleConfView(index)" class="button_link">Visualizza</a>
                <div class="conf-file" v-if="file_display[index]">
                    <pre id="pre">{{item.file}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>