<div id="listascuole">
    <input type="text" id="search-box-pc" class="search-box"
            placeholder="Cerca..." v-model="curr_filter_complex">
    <div class="table-schema">
        <div class="element">
            Plesso
        </div>
        <div class="element">
            Laboratori installati
        </div>
    </div>
    <hr class="solid"></hr>
    <div v-for="(item, index) in activeComplexes" class="card">
            <div class="element main">
                <a :href="'../getComplex?complex_id=' + item.id">
                    {{item.type_text}} {{item.name}}
                </a>
            </div>
            <div class="element" v-if="computeAvailable(item) > 0">
                <p class="card-schema">Laboratori installati</p>
                {{computeAvailable(item)}}
                
            </div>
            <div class="element" v-else>
                La scuola ha richiesto l'installazione dei laboratori
            </div>
    </div>
</div>