<div id="map"></div>

<div id="osc_complex">
    <div class="title">{{complex_info.type}} {{complex_info.name}}<br></div>
    <hr class="solid">
    </hr>
    <div class="info_card">
        <div class="property">Istituto</div>
        <div class="data"><a
                :href="'../getInstitute?institute_id=' + complex_info.institute">{{complex_info.institute_text.type}}
                {{complex_info.institute_text.name}}<br></a></div>
    </div>
    <div class="info_card">
        <div class="property">Indirizzo</div>
        <div class="data">{{complex_info.address}}</div>
    </div>
    <div class="info_card">
        <div class="property">Sito web</div>
        <div class="data"><a :href="complex_info.url" target="_blank">{{complex_info.url}}</a></div>
    </div>
    <div class="info_card">
        <div class="property">Telefono</div>
        <div class="data">{{complex_info.tel}}</div>
    </div>
    <div class="info_card">
        <div class="property">Note</div>
        <div class="data"><p v-html="complex_info.notes"></p></div>
    </div>

    <div class="title">Laboratori</div>
        <hr class="solid">
    </hr>   
    <div v-for="(item, index) in complex_info.labs">
        <div class="card">
            <div class="element main">
                <a :href="'../getLab?lab_id=' + item.code">
                    {{item.name}}
                </a>
            </div>
            <div class=element>
                {{item.lab_status_text}}
            </div>
            <div class=element>
                Codice<br>
                {{item.code}}
            </div>

        </div>
    </div>
</div>