<div id="osc_pc">
     <div class="pc_title">{{"Postazione: " + pc_type + pc_id.padStart(3,'0')}}</div>
     <hr class="solid">
     </hr>
     <div v-if="pc_picture != null"><a class="pc_picture" :href="this.pc_picture"><img :src="this.pc_picture"></a></div>
     
     <div class="info_card" v-for="(item, key, index) in info_obj_pc">
          <div class="property">{{key}}</div>
          <div class="data" v-if="key ==  'Donatore'">
               <a :href="'../getDonor?donor_id=' + pc_info['donor']['code']">{{pc_info.donor.name}}</a>
          </div>
          <div class="data" v-else-if="key ==  'Note'">
               <p v-html="item"></p>
          </div>
          <div class="data" v-else>
              {{item}}
          </div>
     </div>

     <div class="pc_position" v-if="position.labcode != null">
          <div class="pc_position_title">Posizione</div>
          <hr class="solid"></hr>
          <div class="info_card" v-for="(item, key, index) in info_obj_pos">
               <div class="property">{{key}}</div>
               <div class="data" v-if="key ==  'Laboratorio'">
                    <a :href="'../getLab?lab_id=' + position.labcode">{{position.name}}</a>
               </div>
               <div class="data" v-else-if="key ==  'Note'">
                    <p v-html="item"></p>
               </div>
               <div class="data" v-else>
                   {{item}}
               </div>
          </div>
     </div>

     <div class="info_card">
          <div class="property">Schedatura dell'hardware</div>
          <div class="data">
               <a v-on:click="saveTextAsFile">Scarica</a><a
               v-if="lshw_display" v-on:click="lshw_display = !lshw_display" class="button_link">Nascondi</a>
          <a v-else v-on:click="lshw_display = !lshw_display" class="button_link">Visualizza</a>
          </div>
     </div>
     <div class="lshw" id="div_lshw" v-if="lshw_display">
          <pre id="pre">{{pc_info.lshw}}</pre>
     </div>
     
</div>