<div id="osc_switch">
    <div class="title">{{switch_info.name}}</div>
    <hr class="solid"></hr>
    <div class="info_card" v-for="(item, key, index) in info_obj">
        <div class="property">{{key}}</div>
        <div class="data" v-if="key ==  'Laboratorio'">
            <a :href="'../getLab?lab_id=' + switch_info.lab.code">{{switch_info.lab.name}}</a>
        </div>
        <div class="data" v-else-if="key ==  'Note'">
            <p v-html="item"></p>
       </div>
        <div class="data" v-else>
            {{item}}
        </div>
    </div>
</div>