<div id="gestione-iscrizione">
    <div v-if='error != 2'>
        <h1>Benvenuto {{user_data.nome}} {{user_data.cognome}}</h1>

        <div class="notice-container" v-if="confirmed_first_time == 1">
            L'iscrizione al corso {{user_data.nome_corso}} è stata confermata!
        </div>

        <div class="notice-container" v-else-if="confirmed_first_time == 2">
            Si è verificato un errore nella conferma dell'iscrizione, si prega di riprovare più tardi.
        </div>

        <div class="text-box" v-if=user_data.confermato>
            Risulti iscritto al corso {{user_data.nome_corso}}
        </div>
    
        <h2>Registro presenze</h2>

        <table>
            <tr>
                <th>Corso</th>
                <th>Numero lezione</th>
            </tr>
            <tr v-for="( attendance ) in attendance_data">
                <td>{{ attendance.nome_corso }}</td>
                <td>{{ attendance.numero_lezione }}</td>
            </tr>
        </table>

        <h2>Registrazione Presenza</h2>
        <p>Inserisci in questo campo il codice fornito durante la lezione per poter confermare la tua presenza. Se corretto la tua presenza verrà registrata e aggiunta al registro.</p>

        <div class="input-box">
            <input id="password" v-model="attendance_password"> 
            <button v-on:click="submitPassword" v-if=loaded>Registra Presenza</button>
            <div class="loader-reactive" v-else></div>
        </div>

        <div class="error-message-container" v-if="error != 0">
            <div v-if="error == 1">
                La parola chiave inserita non risulta associata ad alcuna lezione, riprovare.
            </div>
            <div v-else-if="error == 3">
                Non hai confermato la tua iscrizione, utilizza il bottone in questa pagina per poter confermare la tua iscrizione.
            </div>
            <div v-else-if="error == 4">
                Errore interno, si prega di riprovare più tardi. In caso contrario, contattare l'assistenza.
            </div>
            <div v-else-if="error == 5">
                La presenza risulta già registrata per questa lezione.
            </div>
        </div>

        <h2>Stato Invio Attestato</h2>

        <div class="error-message-container" v-if="stato_certificato > 1">
            <div v-if="stato_certificato == 2">
                Il numero di presenze registrate risulta insufficiente per il rilascio dell'attestato di partecipazione.
            </div>
            <div v-else-if="stato_certificato == 3">
                Non risulta registrata la presenza alla lezione obbligatoria, pertanto l'attestato di partecipazione non può essere emesso.
            </div>
            <div v-else>
                Il numero di presenze registrate risulta insufficiente e non risulta registrata la presenza alla lezione obbligatoria, pertanto l'attestato di partecipazione non può essere emesso.
            </div>
        </div>
        <div class="warning-message-container" v-else-if="stato_certificato == 1">
            I requisiti per il rilascio dell'attestato di partecipazione risultano soddisfatti: il documento è in fase di elaborazione.
        </div>
        <div v-else-if="stato_certificato == 0">
            L'attestato di partecipazione è stato inviato alla casella di posta {{ user_data.email }} indicata in fase di iscrizione.
        </div>
        <div v-else>
            Errore interno nel sistema di rilascio degli attestati, si prega di riprovare più tardi.
        </div>
        

    </div>
    <div v-else>
        <div class="text-box">
            L'indirizzo inserito non risulta associato ad alcuna iscrizione, verificare di aver inserito il link corretto, in caso contrario è possibile richiedere nuovamente l'invio della mail con il link corretto inserendo il proprio indirizzo
            e cliccando sul bottone per il re-invio
        </div>
        <div class="error-message-container" v-if="error_resend > 0">
            <div v-if="error_resend == 1">
                Non risulta alcuna iscrizione collegata a questo indirizzo mail.
            </div>
            <div v-else-if="(error_resend == 6) || (error_resend == 4)">
                Error interno, si prega di riprovare più tardi. In caso contrario, contattare l'assistenza.
            </div>
        </div>
        <div class="notice-container" v-if="error_resend == 0">
            Il link è stato inviato nuovamente al tuo indirizzo di posta elettronica
        </div>
        <div class="input-box">
            <input type="email" id="resend-email" v-model=resend_email required>
            <button v-on:click="resendEmail" v-if=loaded>Re-invia mail di iscrizione</button>
            <div class="loader-reactive" v-else></div>
        </form>
    </div>
</div>