<form id="form-iscrizione" action="' . plugin_dir_url( __FILE__ ) . 'submit.php" method="POST" style="display: none" autocomplete="on">
    <div>
      <label for="nome">Nome</label>
      <input name="nome" id="nome" value="" required>
    </div>
    <div>
      <label for="cognome">Cognome</label>
      <input name="cognome" id="cognome" value="" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input name="email" id="email" value="" required>
    </div>
    <div>
      <label for="matricola">Matricola - Se non si &egrave; mai stati immatricolati al Politecnico di Torino lasciare il campo vuoto.</label>
      <input name="matricola" id="matricola" value="">
  </div>
    <div>
        <label for="corso">Corso</label>
        <select name="nome_corso" id="nome_corso">
            
        </select>
    </div>
    <div>
        <label for="phone_number">Telefono</label>
        <input name="phone_number" id="phone_number" value="" required></input>
        </select>
    </div>
    <div>
      <input type="checkbox" id="data_policy" name="data_policy" required></input>
      <label for="data_policy">Autorizzo al trattamento dei dati personali ai fini dell'iscrizione al corso e dichiaro di aver preso visione dell'<a href="https://linux.studenti.polito.it/wp/informazioni-sul-trattamento-dei-dati-personali-in-relazione-ai-corsi-gnu-linux/"  target="_blank">informazioni sul trattamento dei dati personali in relazione ai Corsi GNU/Linux</a></label>
    </div>
    <div>
        <br>
        <label for="captcha">Quanto fa <a id="number1"></a> + <a id="number2">?</a></label>
        <input name="captcha" id="captcha" value="" required>
  </div>
  <div id="submit-container">
    <input id="submit" type="submit" value="Invia richiesta">
    <div class="loader"></div>
  </div>
  </form>

  <div id="no-courses" style="display: none">
    <h2>Attualmente non sono presenti corsi disponibili per l\'iscrizione</h2>
  </div>

<div id="submit-success" class="submit-status">
  <h1>
    Iscrizione completata
  </h1>
  <p>
    &Egrave stata inviata una mail al tuo indirizzo. Segui le istruzioni per poter confermare la tua iscrizione
  </p>
</div>

<div id="submit-existing" class="submit-status">
  <h1>
    Iscrizione esistente
  </h1>
  <p>
    Si è verificato un errore durante l'iscrizione. L'indirizzo email risulta già registrato e confermato per questo corso
  </p>
</div>

<div id="submit-internal-error" class="submit-status">
  <h1>
    Errore interno
  </h1>
  <p>Il servizio non risulta al momento disponibile, riprovare più tardi</p>
</div>

<div id="submit-resend" class="submit-status">
  <h1>
    Conferma inviata nuovamente
  </h1>
  <p>
    L'indirizzo email è presente nei nostri sistemi, ma l'iscrizione non risulta confermata. &Egrave stato inviato un nuovo codice di conferma, controllare la propria casella di posta.
  </p>
</div>
