<figure class="wp-block-video video_chapters" id="video-track-container">
    <video controls autoplay id="video-element">

    </video>
    <figcaption>
        <ol class="chapters"></ol>
    </figcaption>
</figure>